[user]
    name = Thai Nguyen Hung
    email = hungthai1401.it@gmail.com
[core]
    sshCommand = "ssh -i ~/.ssh/id_rsa"
    excludesFile = ~/.config/git/ignore
    hooksPath = ~/.config/git/hooks
[includeIf "hasconfig:remote.*.url:git@gitlab.ggg.com.vn:*/**"]
    path = ~/.config/git/config-gitlab.ggg.com.vn
